doctype html
html
	head
		title= 'login'
	body
		div(style='float:left')
			a(href='/') Home

		div(style='padding:50px;')
			form(name='login',action='/apis/login',method="post")
				h1 login

				div
					p

						label(style='margin:10px')
						input(type='text',name='username',placeholder= 'example@123.com')
						span(style='margin:10px;') #{namealert}
					p
						label(style='margin:10px')
						input(type='password',name='password')
						span(style='margin:10px;') #{pwdalert}

					p
						input(type='submit',name='submit',value='login')
						span(style='margin:10px;') or
						a(href='/users/register') register